<div class="container">
  <button class="btn btn-add" (click)="openFormAdd()" [disabled]="isEdit">
    Додати категорію
  </button>
  <div class="table" *ngIf="!isOpenForm; else form">
    <div class="table-item">
      <p>№</p>
      <p>Назва</p>
      <p>Шлях</p>
      <p>Картинка</p>
      <p>Дії</p>
    </div>
    <div class="table-item" *ngFor="let category of adminCategory; index as i">
      <p>{{ i + 1 }}</p>
      <p>{{ category.name }}</p>
      <p>{{ category.path }}</p>
      <p><img [src]="category.imagePath" width="50px" /></p>
      <p>
        <button class="btn-actions" (click)="editCategory(category)">
          Редагувати
        </button>
        <button class="btn-actions" (click)="deleteCategory(category)">
          Видалити
        </button>
      </p>
    </div>
  </div>
  <ng-template #form>
    <form [formGroup]="formCategory" (ngSubmit)="addCategory()">
      <div class="form-group fd">
        <input
          formControlName="name"
          class="form-control-input"
          type="text"
          placeholder="*Назва"
        />
        <input
          formControlName="path"
          class="form-control-input"
          type="text"
          placeholder="*Шлях"
        />
      </div>

      <ng-container *ngIf="isUploaded; else formFile">
        <div class="image-response">
          <img [src]="imageByControl('imagePath')" alt="" />
          <button
            type="button"
            class="btn-danger"
            (click)="deleteImage(imageByControl('imagePath'))"
          >
            Видалити
          </button>
        </div>
      </ng-container>

      <ng-template #formFile>
        <div class="form-group gf">
          <input type="file" (change)="upload($event)" />
        </div>
      </ng-template>

      <div class="form-group fd">
        <button
          [disabled]="formCategory.invalid"
          class="main-btn"
          type="submit"
        >
          {{ isEdit ? "Зберегти" : "Добавити" }}
        </button>
      </div>
    </form>
  </ng-template>
</div>
