@import "../../shared/styles/var";
@import "../../shared/styles/mixins";
@import "../../shared//styles/animate";
@import "../../shared/styles/base";

.header-inner {
  height: 95px;
  @include flexbetween();
}

.header-logo {
  width: 170px;
  height: 100%;
  background-color: $mainColor;
  &__link {
    width: 100%;
    height: 100%;
    @include flexCenter();
  }
  &__img {
    width: 78%;
  }
}

.header-nav {
  margin-left: 5px;
  width: 370px;
  @include flexbetween();
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.link {
  width: 70px;
  height: 65px;
  @include flexCenter();
  flex-direction: column;
  &__img {
    width: 28px;
    height: 30px;
  }
  &__name {
    margin-top: 3px;
    font-size: 14px;
    font-weight: bold;
  }
}

.burger-menu {
  margin-right: 40px;
  position: relative;
  i {
    font-size: 25px;
    position: relative;
  }
}

.icon-burger {
  width: 45px;
  height: 45px;
  @include flexCenter();
}

.menu-nav {
  position: absolute;
  left: -30px;
  top: -25px;
  width: 240px;
  height: 260px;
  border: 2px solid $mainColor;
  border-radius: 7px;
  background-color: white;
  padding: 31px 25px;
  z-index: 1;

  i {
    font-size: 30px;
    width: 30px;
    margin-left: 17px;
    cursor: pointer;
  }
}

.burger-nav {
  margin-top: 30px;
}

.burger-item {
  margin-bottom: 7px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: border-color 0.2s ease-in;

  &:hover {
    border-color: $mainColor;
    cursor: pointer;
  }
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}

.main-btn {
  width: 40px;
  height: 40px;
}

.header-info {
  @include flexCenter();
  margin: 0 30px;
  flex-direction: column;
}

.header-phone {
  font-weight: bold;
  transition: color 0.2s ease-out;
  &:hover {
    color: $mainColor;
    cursor: pointer;
  }
}
.header-work-time {
  font-size: 12px;
  b {
    font-size: 12px;
  }
}

.icon-user {
  margin: 0 20px;
  @include flexCenter();
  border-radius: 5px;
  width: 45px;
  height: 45px;
  i {
    font-size: 25px;
  }
}
