@import "../../shared/styles/var";
@import '../../shared/styles/mixins';
@import '../../shared/styles/imitations';
@import '../../shared/styles/base';
                                                

.btn{
  margin-bottom: 30px;
}


.table-item {
@include tableItem();

  &:nth-of-type(1) {
    border-bottom: 2px solid $mainColor;
    font-weight: bold;
  }
  p {
    &:nth-of-type(1) {
      width: 10%;
    }
    &:nth-of-type(2) {
      width: 15%;
    }
    &:nth-of-type(3) {
      width: 25%;
    }
    &:nth-of-type(4) {
      width: 35%;
    }
    &:nth-of-type(5),
    &:nth-of-type(6) {
      width: 10%;
      text-align: center;
    }
  }
}

.form-control-area{
  height: 300px
}


.main-btn{
@extend %btn-admin-add;
}
