<div class="container">
  <button class="btn btn-add" (click)="openFormAdd()" [disabled]="isEdit">
    Додати продукт
  </button>
  <div class="table" *ngIf="!isOpenForm; else form">
    <div class="table-item">
      <p>№</p>
      <p>Категорія</p>
      <p>Назва</p>
      <p>Шлях</p>
      <p>Інгредієнти</p>
      <p>Вага</p>
      <p>Ціна</p>
      <p>Картинка</p>
      <p>Дії</p>
    </div>
    <div class="table-item" *ngFor="let article of adminGoods; index as i">
      <p>{{ i + 1 }}</p>
      <p>{{ article.category.name }}</p>
      <p>{{ article.name }}</p>
      <p>{{ article.path }}</p>
      <p>
        {{ article.ingredients }}
      </p>
      <p>{{ article.weight }} г</p>
      <p>{{ article.price }} грн</p>
      <p><img [src]="article.imagePath" width="50px" /></p>
      <p>
        <button class="btn-actions" (click)="editGoods(article)">
          Редагувати
        </button>
        <button class="btn-actions" (click)="deleteGoods(article)">
          Видалити
        </button>
      </p>
    </div>
  </div>
  <ng-template #form>
    <form [formGroup]="formGoods" (ngSubmit)="addGoods()">
      <div class="form-group">
        <select formControlName="category" class="form-control-input">
          <option value="" selected disabled>Виберіть категорію</option>
          <option [ngValue]="category" *ngFor="let category of adminCategories">
            {{ category.name }}
          </option>
        </select>
      </div>

      <div class="form-group fd">
        <input
          formControlName="name"
          class="form-control-input"
          type="text"
          placeholder="*Назва"
        />
        <input
          formControlName="path"
          class="form-control-input"
          type="text"
          placeholder="*Шлях"
        />
      </div>
      <div class="form-group">
        <textarea
          formControlName="ingredients"
          class="form-control-area"
          type="text"
          placeholder="*Інгредієнти"
        ></textarea>
      </div>
      <div class="form-group fd">
        <input
          formControlName="weight"
          class="form-control-input"
          type="number"
          placeholder="*Вага"
        />
        <input
          formControlName="price"
          class="form-control-input"
          type="number"
          placeholder="*Ціна"
        />
      </div>
      <ng-container *ngIf="isUploaded; else formFile">
        <div class="image-response">
          <img [src]="imageByControl('imagePath')" alt="" />
          <button
            type="button"
            class="btn-danger"
            (click)="deleteImage(imageByControl('imagePath'))"
          >
            Видалити
          </button>
        </div>
      </ng-container>

      <ng-template #formFile>
        <div class="form-group gf">
          <input type="file" (change)="upload($event)" />
        </div>
      </ng-template>

      <div class="form-group">
        <button [disabled]="formGoods.invalid" class="main-btn" type="submit">
          {{ isEdit ? "Зберегти" : "Добавити" }}
        </button>
      </div>
    </form>
  </ng-template>
</div>
