@import "../../shared/styles/var";
@import "../../shared/styles/mixins";
@import "../../shared//styles/animate";
@import "../../shared/styles/base";

.container{
  margin: auto;
  margin-top: 50px;
  width: 700px;
  padding: 0;
}

.row-form{
  width: 500px;
  margin: 30px auto;

}

form{
  width: 100%;
}

.form-title{
  font-weight: bold;
  margin-bottom:20px;
}

.main-btn{
  padding: 0 20px;
  height: 50px;
  font-size: 20px
}


.header-busket {
  @include flexCenter();
  width: 140px;
  height: 95px;
  background-color: $mainColor;
  &:hover {
    cursor: pointer;
  }
}

.basket-count {
  position: relative;
  span {
    @include wh(22px, 22px, 14px);
    position: absolute;
    top: -5px;
    left: 20px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 22px;
  }
}
.basket-img {
  width: 90%;
}

.basket-price {
  margin: 0 10px;
  font-size: 18px;
}

.price-out{
  margin-top: 15px;
  padding-top: 5px;
  border-top:1px solid #ccc;
  font-size: 20px;
  text-align: right;
  span {
    font-weight: bold;
  }
}


.m--1{
  margin-top: 10px;
}